*{
    margin: 0px;
    padding: 0px;
}

header{
    background: rgb(46, 183, 207);
    margin: 2px;
    border-radius: 5px;
    width: 800px;
    height: 80px;
} 

.titulo{
    text-align: center;
    color: black;
    padding: 5px;
    width: 800px;
    font-size: 40px;
}

.container{
    width: 800px;
    height: 520px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.item{
    background: rgba(255,255, 255, .4);
    width: 25%;
    height: 200px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    align-content:center;
}

.item.item-1{
    background: red;
}

.item.item-2{
    background: yellow;
}

.item.item-3{
    background: blue;
}

.item.item-4{
    background: green;
}

.item.item-5{
    background:pink;
}

.item.item-6{
    background: violet;
}

.item > h5{
    text-align: center;
    color: rgb(12, 12, 12);
    margin-bottom: 40px;
    font-size: 40px;
}

.item > img{
    width: 80%;
    border-radius: 5px;
    display: block;
    margin: auto;
}

footer{
    background: white;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    width: 800px;
}

nav{
    text-align: right;
    color: white;
    font-size: 20px;
    width: 800px;
}

img{
    display: block;
}
